.table table {
  margin-top: 20px;
}
.table table {
  border-top: solid 1px #eee;
  border-left: solid 1px #eee;
}
.table table th,
.table table td {
  border-right: solid 1px #eee;
  border-bottom: solid 1px #eee;
  padding: 5px;
  font-size: 14px;
}
