<div class="add">
    <table>
        <tr>
            <td class="label">Meeting room name:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td class="label">Meeting room status:</td>
            <td>
                <select>
                    <option value="0">Inactive</option>
                    <option value="1">active</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="label" colspan="2">
                <button type="button">Submit</button>
            </td>
        </tr>
    </table>
</div>
